:root {
  --main-bg-color: #e9e8e8;
  --btn-bg-color: #fefefe;
  --btn-fnt-color: #2e2f33;
  --btn-border: #e8e8e8;
  --hover-color: #276efa;
  --secondary-gray: #747577;
}

.file-selector {
  height: 0;
  overflow: hidden;
  width: 0;
}

.file-selector + label {
  padding: 1em;
  border-radius: 5px;
  display: grid;
  place-items: center;
}

.file-selector + label:hover {
  cursor: pointer;
}

* {
  transition: all 0.2s ease-in-out;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button.btn {
  background-color: var(--btn-bg-color);
  border: 2px solid var(--btn-border);
  border-radius: 5px;
  color: var(--btn-fnt-color);
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

button.btn:hover {
  border-color: var(--hover-color);
  color: var(--hover-color);
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: var(--main-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main {
  width: 100%;
  max-width: 600px;
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.upload-container {
  display: flex;
  flex-direction: column;
  padding: 1em;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin: 1em 0;
}

.upload-area {
  border: 1px dashed #c3c3c3;
  border-radius: 5px;
  margin-bottom: 1em;
}

.upload-area:hover {
  cursor: pointer;
  border-color: var(--hover-color);
}

.pair {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.pair .icon {
  background-color: #fff;
  border-radius: 50%;
  padding: 1em;
  display: grid;
  place-items: center;
}

.ws-connection {
  visibility: hidden;
}

#me {
  color: var(--secondary-gray);
}
